        body {
            background-color: #800000;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #FFC300;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        nav ul li {
            display: inline;
            margin-right: 25px;
        }
        nav ul li a {
            text-decoration: none;
            color: black;
            font-weight: bold;
            font-size: 30px;
        }
        h2, h3 {
            color: white;
            font-weight: bold;
            margin-left: 10px;
            font-size: 30px;
            font-family: 'Georgia', serif;
        }
        img.logo {
            width: 100px; 
            height: auto; 
            margin-left: 20px;
        }
        img.service-img {
            width: 400px;
            height: 300px;
            margin: 20px;
        }

        #services {
            text-align: center;
        }
        #search-box {
            margin-bottom: 20px;
        }
        input[type="text"],
        textarea {
            width: 70%;
            padding: 15px;
            font-size: 20px;
            border: 1px black;
            border-radius: 5px;
            margin-bottom: 20px;
            background-color: #DCDCDC;
        }
        textarea {
            height: 200px;
        }
        .services-row {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        .service {
            margin: 20px;
        }
        .service-images {
            color: white;
            font-size: 24px;
        }